
.header-icon-size {
	height: 36px;
	width: 36px;
	position: relative;
}
  
.iconposition {
	position: absolute;
	top: 0;
	left: 0;
}

.iconover {
	opacity: 0;
}

.icon-middle {
	margin-left: 2.5px;
	margin-right: 2.5px;
}

.icon-left {
	margin-right: 2.5px;
}

.icon-right {
	margin-left: 2.5px;
}

.divspan {
	display: inline-block;
	overflow: hidden;
}