@import "global_variables";
@import "mixins";

.profile-btn {
  margin-right: 62px;
  width: 54px;
}

.projects-btn {
  margin-left: 62px;
  width: 62px;
}

.section-btn {
  position: relative;
  display: inline-block;
  text-align: center;
}

.section-link-text {
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

  a {
    color: $light-tan;
  }
}

.section-link-text:hover {
  cursor: pointer;
}

.profile-btn-indicator {
  position: relative;
  top: -14px;
  height: 2px;
  width: 0%;
  background-color: $light-tan;
  display: inline-block;
}

.projects-btn-indicator {
  position: relative;
  top: -14px;
  height: 2px;
  width: 0%;
  background-color: $light-tan;
  display: inline-block;
}
