@import "../../scss_partials/global_variables";
@import "../../scss_partials/mixins";

.text-center {
    text-align: center;
}

.date-time-text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans Condensed', sans-serif;
    color: $white;
    font-size: 11.5pt;
    letter-spacing: 1px;
}

.date-text {
    padding-top: 10px;
}

  