@import "global_variables";
@import "mixins";

.text-center {
    text-align: center;
}

.date-time-text {
    @include font-smoothing-prefix();
    font-family: 'Open Sans Condensed', sans-serif;
    color: $white;
    font-size: 11.5pt;
    letter-spacing: 1px;
    padding-top: 1px;
}

.date-text {
    padding-top: 10px;
}


