@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Raleway');

@mixin icon-colors($base, $hover) {
  
}

@mixin dev-border($color) {
  border: 1px solid $color;
}

@mixin font-smoothing-prefix() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
