@import "global_variables";
@import "mixins";

.header-main-bg {
    background-color: $header-blue;
    height: auto;
    padding-bottom: 20px;
    width: 100%;
}

.header-edge {
    background-color: $header-blue-highlight;
    height: 2px;
}

.header-dropoff {
    background-color: $header-blue-shadow;
    height: 16px;
}

.hero-images-box {
    width: 100%;
}
  
.hero-images {
    height: 250px;
    width: 370px;
    margin-top: 31px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.header-image1 {
    position: absolute;
    left: 30px;
    top: 0;
}

.header-image2 {
    position: absolute;
    left: 159px;
    top: 105px;
}

.developer-title {
    line-height: 1.2;
    margin-bottom: 17px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
}

.text-center {
    text-align: center;
}

.text {
    @include font-smoothing-prefix();
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    color: $white;
    font-size: 11.5pt;
    letter-spacing: 1px;
}

.header-icon-links {
    margin-bottom: 30px;
}

.text-bold {
    @include font-smoothing-prefix();
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    color: $light-tan;
    font-size: 11.5pt;
    letter-spacing: 1px;
}



.sections-links {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 300px;
}

@media only screen and (min-width: 550px) {
    .hero-images {
        width: 502px;
        height: 182px;
        margin-bottom: 25px;
    }

    .header-image1 {
        left: 0;
        top: 0;
    }

    .header-image2 {
        left: 310px;
        top: -6px;
    }
}