.header-main-bg {
    background-color: #39537c;
    height: auto;
    padding-bottom: 20px;
    width: 100%;
}

.header-edge {
    background-color: #5e88cb;
    height: 2px;
}

.header-dropoff {
    background-color: #284063;
    height: 16px;
}

.hero-images-box {
    width: 100%;
    overflow: hidden;
}
  
.hero-images {
    height: 250px;
    width: 370px;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.header-image1 {
    position: absolute;
    left: 30px;
    top: 0;
}

.header-image2 {
    position: absolute;
    left: 159px;
    top: 105px;
}

.developer-title {
    line-height: 1.2;
    margin-bottom: 17px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
}

.text-center {
    text-align: center;
}

.text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    font-size: 11.5pt;
    letter-spacing: 1px;
}

.header-icon-links {
    margin-bottom: 30px;
}

@media only screen and (min-width: 550px) {
    .hero-images {
        width: 502px;
        height: 182px;
        margin-bottom: 25px;
    }

    .header-image1 {
        left: 0;
        top: 0;
    }

    .header-image2 {
        left: 310px;
        top: -6px;
    }
}